{% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}
 {{ include('nav/_nav.html.twig') }}

<a href="{{ path('app_compte')}}">retour</a>
<h1>Details de ma commande</h1>
{% for p in panier %}
{% if p.etat == 1 %}
<ul>
<li>{{p.utilisateur.nom}}</li>
<li>{{p.dateDachat|date('d/m/Y H:i:s')}}</li>

<li><a href="{{ path('app_panier_show', {'id': p.id} )}}">Détails</a></li>
</ul>
{% endif %}
{% endfor %}

</div>
{% endblock %}
