{% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}
{{ include('nav/_nav.html.twig') }}
<div class='form'>
{% for p in panier.contenuPaniers %}
{% for q in p.produit %}
<ul class='compte'>
<li>{{p.quantiter}}</li>
<li>{{q.prix}}</li>
<li>{{q.nom}}</li>
<li><img src="{{ asset('uploads/'~ q.photo)}}" style= "max-width: 100px;"></li>
</ul>
{% endfor %}
{% endfor %}
<a href="{{ path('app_panier')}}">back</a>
</div>
{% endblock %}
