{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}

    {{ include('nav/_nav.html.twig') }}
    <div class='form'>
    {% if is_granted('ROLE_ADMIN') %}
        <a class='bouton'href="{{ path('app_produit_new') }}">Créer un produit</a>
    {% endif %}
    </div>
    <div class="card-container">
        {% for produit in produits %}
            <div class="card">
                <div class="card-content">
                    <h2>{{ produit.nom }}</h2>
                    <p>{{ produit.description }}</p>
                    <p>Prix: {{ produit.prix }}</p>
                    <p>Stock: {{ produit.stock }}</p>
                    {% if produit.photo is not null %}
                        <img src="{{ asset('uploads/' ~ produit.photo) }}" alt="{{ produit.nom }}">
                    {% endif %}
                </div>
                <div class="card-actions">
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p>Aucun produit trouvé</p>
        {% endfor %}
    </div>

    
    
{% endblock %}
