{% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}
{{ include('nav/_nav.html.twig') }}
<div class='form'>
<div class="example-wrapper">
<h3>Mon compte</h3>
<ul class='compte'>
<li>email: {{app.user.email}}</li>
<li>nom: {{app.user.nom}}</li>
<li>prenom: {{app.user.prenom}}</li>
<a href="{{ path('app_compte_edit', {'id': app.user.id}) }}">Modifier</a>
</ul>
</div>
<div>
<a href="{{ path('app_panier')}}">Historique d'achat</a>
</div>
</div>
{% endblock %}
