   <div class='navdiv'>
   <nav class='navGlobal'>
        <ul  class='navbar'>
        <li><a href = "{{ path('app_produit') }}">Produit</a></li>
        <li>
        <a href = "{{ path('app_contenu_panier_index') }}">Panier</a>
        </li>
        {% if is_granted('ROLE_USER') %}
        <li>
        <a href = "{{ path('app_compte')}}">Mon Compte</a>
        </li>
        <li>
        <a href = "{{ path('app_logout') }}">se déconnecter</a>
        </li>
        {% else %}
         <li>
        <a href = "{{ path('app_register') }}">Creer un compte</a>
        </li>
         <li>
        <a href = "{{ path('app_login') }}">se connecter</a>
        </li>
        </ul>
        {% endif %}
        
    </nav>
    <div class='email'>
    {% if app.user is not null %}
        <p>{{app.user.email}}</p>
        {% endif %}
        </div>

    </div>